# IDE (VScode, Pycharm) stuff
.vscode/
.idea/

# Python, Jupyter cache
**/__pycache__/
**/.ipynb_checkpoints/
*.pyc

# Excel cache
**/~$*.xls*

# Temporary directory, files
**/temp/*

# Temporary figures and excel files
**/temp*.png
**/temp*.csv

# Data folder
/data/*

# MacOS temp file
**/.DS_Store
